﻿@model QuestionsamuraiClone.ModelViews.LoginViewModel
<div class="contact-clean">
    <form asp-controller="Account" asp-action="Login" method="post">
        <h2 class="text-center">Login</h2>
        <div asp-validation-summary="All"></div>
        <div class="form-group has-success">
            <input asp-for="UserName" class="form-control" type="text" name="UserName" placeholder="User Name">
            <span asp-validation-for="UserName" class="text-danger"></span>
            <br/>
            <input asp-for="Password" class="form-control" type="password" name="Password" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <br/>
            <label class="checkbox-inline checkbox"><input asp-for="RememberMe" type="checkbox"name="RememberMe" value="">Remember Me</label>
            <span asp-validation-for="RememberMe" class="text-danger"></span>
        </div>
        <div class="form-group"><button class="btn btn-primary" type="submit">Log In</button></div>
    </form>
</div>
