﻿@model QuestionsamuraiClone.ModelViews.RegisterViewModel

<div class="contact-clean">
    <form asp-controller="Account" asp-action="Register" method="post">
        <h2 class="text-center">Register</h2>
        <div asp-validation-summary="All"></div>
        <div class="form-group has-success">
            <input asp-for="Email" class="form-control" type="text" name="Email" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
            <br/>
            <input asp-for="UserName" class="form-control" type="text" name="UserName" placeholder="User Name">
            <span asp-validation-for="UserName" class="text-danger"></span>
            <br/>
            <input asp-for="Password" class="form-control" type="password" name="Password" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <br/>
            <input asp-for="ConfirmPassword" class="form-control" type="password" name="ConfirmPassword" placeholder="Confirm Password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group"><button class="btn btn-primary" type="submit">Register</button></div>
    </form>
</div>
