﻿@model QuestionsamuraiClone.ModelViews.SearchModelView

<div class="contact-clean">
    <form asp-controller="Home" asp-action="Search" method="get">
        <h2 class="text-center">Search</h2>
        <div class="form-group has-success">
            <div class="radio">
                <label class="radio-label">
                    <input asp-for="ChooseEngine" name="ChooseEngine" type="radio" value="Youtube"/>
                    Youtube
                </label>
                <label class="radio-label">
                    <input asp-for="ChooseEngine" name="ChooseEngine" type="radio" value="Google"/>
                    Google
                </label>
            </div>
            <input asp-for="Query" class="form-control" type="text" name="Query" placeholder="Search Query">
            <span asp-validation-for="Query" class="text-danger"></span><br/>
            <span asp-validation-for="ChooseEngine" class="text-danger"></span>
        </div>
        <div class="form-group"><button class="btn btn-primary" type="submit">GO</button></div>
    </form>
</div>