﻿@model List<string>

<div class="container">
    <div class="page-header">
        <h3>Search Results</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>People searched for..</th>
            </tr>
            </thead>
            <tbody>
            @{
                int i = 0;
                foreach (var result in Model)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@result</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>